@model Ttcn_web.Models.ADUser

@{
    ViewBag.Title = "Chỉnh sửa tài khoản";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="w3-content w3-animate-bottom">
        <div class="w3-margin w3-card">
            <div class="w3-container w3-card w3-blue w3-round-large">
                <h3 class="w3-padding-large">Chi tiết tài khoản</h3>
            </div>
            <hr />

            <div class="w3-row w3-section w3-padding">
                <div class="w3-col" style="width:50px"><i class="w3-large fa fa-user-plus"></i></div>
                <div class="w3-rest">
                    <h5><b>Tên đăng nhập:  </b>@Html.DisplayFor(model => model.ADUserName)</h5>
                </div>
            </div>

            <div class="w3-row w3-section w3-padding">
                <div class="w3-col" style="width:50px"><i class="w3-large fa fa-user-secret"></i></div>
                <div class="w3-rest">
                    <h5><b>Mật khẩu:  </b>@Html.DisplayFor(model => model.ADPassword)</h5>
                </div>
            </div>

            <div class="w3-row w3-section w3-padding">
                <div class="w3-col" style="width:50px"><i class="w3-large fa fa-calendar"></i></div>
                <div class="w3-rest">
                    <h5><b>Ngày tạo:  </b>@Html.DisplayFor(model => model.AACreatedDate)</h5>
                </div>
            </div>
            
            <hr/>
        </div>

        <div class="w3-margin w3-card">
            <div class="w3-container w3-card w3-blue w3-round-large">
                <h3 class="w3-padding-large">Chỉnh sửa tài khoản</h3>
            </div>

            <form action="/User/Edit" method="post" class="w3-container w3-card-4 w3-light-grey w3-text-light-blue w3-round-large">

                <div class="w3-row w3-section">
                    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user-plus"></i></div>
                    <div class="w3-rest">
                        <input class="w3-input w3-border" name="username" type="text" placeholder="Tên đăng nhập" required>
                    </div>
                </div>

                <div class="w3-row w3-section">
                    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user-secret"></i></div>
                    <div class="w3-rest">
                        <input class="w3-input w3-border" name="password" type="password" placeholder="Mật khẩu" required>
                    </div>
                </div>

                <div class="w3-row w3-section">
                    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user-secret"></i></div>
                    <div class="w3-rest">
                        <input class="w3-input w3-border" name="re_password" type="password" placeholder="Nhập lại mật khẩu" required>
                    </div>
                </div>

                <p>
                    <button type="submit" class="w3-btn w3-border w3-hover-yellow w3-padding w3-blue w3-round-large" style="width:120px">Sửa</button>
                    <a href="@Url.Action("Index", "User")">
                        <input type="button" class="w3-btn w3-border w3-light-grey w3-round-large" style="width:120px" value="Hủy">
                    </a>
                </p>

            </form>
        </div>

    </div>
}
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
