<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/ckfinder/ckfinder.js"></script>
    @Styles.Render("~/vendor/bootstrap/css/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/w3school.css" rel="stylesheet">
    <link href="~/Content/PagedList.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        * {
            box-sizing: border-box;
        }

        .openBtn {
            background: #f1f1f1;
            border: none;
            padding: 10px 15px;
            font-size: 20px;
            cursor: pointer;
        }

            .openBtn:hover {
                background: #bbb;
            }

        .overlay {
            height: 100%;
            width: 100%;
            display: none;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0, 0.9);
        }

        .overlay-content {
            position: relative;
            top: 46%;
            width: 80%;
            text-align: center;
            margin-top: 30px;
            margin: auto;
        }

        .overlay .closebtn {
            position: absolute;
            top: 20px;
            right: 45px;
            font-size: 60px;
            cursor: pointer;
            color: white;
        }

            .overlay .closebtn:hover {
                color: #ccc;
            }

        .overlay input[type=text] {
            padding: 15px;
            font-size: 17px;
            border: none;
            float: left;
            width: 80%;
            background: white;
        }

            .overlay input[type=text]:hover {
                background: #f1f1f1;
            }

        .overlay button {
            float: left;
            width: 20%;
            padding: 15px;
            background: #ddd;
            font-size: 17px;
            border: none;
            cursor: pointer;
        }

            .overlay button:hover {
                background: #bbb;
            }
    </style>
</head>
<body>
    <div id="myOverlay" class="overlay">

        <div class="overlay-content">

            <form action="/Product/Search" method="post">

                <input name="search" type="text" placeholder="Tìm kiếm sản phẩm" />
                <button type="submit" style="width:120px">Tìm kiếm</button>
            </form>

        </div>

        <span class="closebtn w3-margin-top-128" onclick="closeSearch()" title="Close Overlay">×</span>
    </div>
    <div class="w3-top">
        <div class="w3-center w3-white">
            <h1 class="w3-lobster w3-animate-fading w3-white">Noithatviet.com</h1>
        </div>
		<div class="w3-bar w3-black">
			<a href="@Url.Action("Index", "Home")" class="w3-bar-item w3-hover-green w3-btn w3-gray">TRANG CHỦ</a>
			<a href="@Url.Action("About", "Home")" class="w3-bar-item w3-hover-green w3-btn">Giới thiệu</a>
			<a href="@Url.Action("Contact", "Home")" class="w3-bar-item w3-hover-green w3-btn">Liên hệ</a>
			<div class="w3-dropdown-hover">
				<a class="w3-button w3-hover-green">Sản phẩm</a>
				<div class="w3-dropdown-content w3-bar-block w3-card-4">
					<a href="@Url.Action("Filter", "FurnitureTypeGroup", new
                             {
                                 id = 1
                             })" class="w3-bar-item w3-button w3-hover-green">Phòng khách</a>
					<a href="@Url.Action("Filter", "FurnitureTypeGroup", new
                             {
                                 id = 2
                             })" class="w3-bar-item w3-button w3-hover-green">Phòng ăn</a>
					<a href="@Url.Action("Filter", "FurnitureTypeGroup", new
                             {
                                 id = 3
                             })" class="w3-bar-item w3-button w3-hover-green">Phòng ngủ</a>
					<a href="@Url.Action("Filter", "FurnitureTypeGroup", new
                             {
                                 id = 4
                             })" class="w3-bar-item w3-button w3-hover-green">Phòng làm việc</a>
					<a href="@Url.Action("Filter", "FurnitureTypeGroup", new
                             {
                                 id = 5
                             })" class="w3-bar-item w3-button w3-hover-green">Tủ bếp</a>
					<a href="@Url.Action("Filter", "FurnitureTypeGroup", new
                             {
                                 id = 6
                             })" class="w3-bar-item w3-button w3-hover-green">Hàng trang trí</a>
					<a href="@Url.Action("Filter", "FurnitureTypeGroup", new
                             {
                                 id = 7
                             })" class="w3-bar-item w3-button w3-hover-green">Ngoại thất</a>
					<a href="@Url.Action("ThietKeNoiThat", "Common")" class="w3-bar-item w3-button w3-hover-green">Thiết kế nội thất</a>
				</div>
			</div>

			@{
				var token = Session["token"];

				var userName = Session["userName"];

				if (token == null)
				{
					<a href="@Url.Action("SignUp", "Account")" class="w3-bar-item w3-hover-opacity w3-btn w3-right">Đăng ký</a>
					<a href="@Url.Action("Login", "Account")" class="w3-bar-item w3-hover-opacity w3-btn w3-right">Đăng nhập</a>
				}	
				else
				{
						<div class="w3-bar-item w3-right">
							<i class="fa fa-user"></i>
							<a class="">@userName</a>
						</div>
						<a href="@Url.Action("Logout", "Account")" class="w3-bar-item w3-hover-opacity w3-btn w3-right">Đăng xuất</a>
				}
			}

			@{
				var userType = Session["userType"];
				if ("Supplier".Equals(userType) || "Admin".Equals(userType))
				{
						<a href="@Url.Action("Create", "Product")" class="w3-bar-item w3-hover-opacity w3-btn w3-right">Thêm mới sản phẩm</a>
				}
			}

			@{
				if (Session["CartItemQty"] == null)
				{
					Session["CartItemQty"] = 0;
				}
			}
		    <a class="w3-bar-item w3-hover-opacity w3-btn w3-right" href="@Url.Action("ShowCartsOfUser","Cart")">
		        <img src="../../img/core-img/cart.png" alt=""> Cart <span>(@Session["CartItemQty"])</span>
		    </a>
            
		    <a onclick="openSearch()" class="w3-bar-item w3-hover-opacity w3-btn w3-right"><i class="fa fa-search"></i></a>


		</div>
    </div>
    @*---------------------------------------------------------------------------------------------------*@
    
    
   
    @*---------------------------------------------------------------------------------------------------*@

    <div class="container body-content w3-margin-top-128">
        @RenderBody()
    </div>
    <script>
        function openSearch() {
            document.getElementById("myOverlay").style.display = "block";
        }

        function closeSearch() {
            document.getElementById("myOverlay").style.display = "none";
        }
    </script>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
</body>
</html>
